<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vika\HelloWorldAPI\Api\HelloWorldAPIRepositoryInterface"
                type="Vika\HelloWorld\Model\HelloWorldRepository" />
    <preference for="Vika\HelloWorldAPI\Api\Data\HelloWorldAPIInterface"
                type="Vika\HelloWorld\Model\HelloWorld" />
    <preference for="Magento\Framework\Api\SearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
</config>